<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<h1>Sample App</h1>
<p>
  <%= t ".content1" %>
  <%= link_to "Ruby on Rails Tutorial","http://www.railstutorial.org/" %>
  <%= t ".content2" %>
</p>
